## The Battle of the Neighborhoods - Week 2

### Part 2 Web scrapping of Population and Demographics data of New York city from Wikipedia

#### A : POPULATION DATA

Web scrapping of Population data from wikipedia page - https://en.wikipedia.org/wiki/New_York_City

#### Download all the dependencies that is needed.

In [17]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt

# conda install -c anaconda beautiful-soup --yes
from bs4 import BeautifulSoup # package for parsing HTML and XML documents

import csv # implements classes to read and write tabular data in CSV form

print('Libraries imported.')

Fetching package metadata .............
Solving package specifications: .

# All requested packages already installed.
# packages in environment at /opt/conda/envs/DSX-Python35:
#
geopy                     1.17.0                     py_0    conda-forge
Libraries imported.

#### Web scrapping of Population data from wikipedia page using BeautifulSoup.

Beautiful Soup is a Python package for parsing HTML and XML documents (including having malformed markup, i.e. non-closed tags, so named after tag soup). It creates a parse tree for parsed pages that can be used to extract data from HTML, which is useful for web scraping.

In [25]:
website_url = requests.get('https://en.wikipedia.org/wiki/Demographics_of_New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable'})
#print(soup.prettify())

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('BON2_POPULATION1.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

#### Load data from CSV

In [26]:
Pop_data=pd.read_csv('BON2_POPULATION1.csv')
Pop_data.drop(Pop_data.columns[[7,8,9,10,11]], axis=1,inplace=True)
print('Data downloaded!')

Data downloaded!

#### Remove whitespaces and rename columns

In [27]:
Pop_data.columns = Pop_data.columns.str.replace(' ', '')
Pop_data.columns = Pop_data.columns.str.replace('\'','')
Pop_data.rename(columns={'Borough':'persons_sq_mi','County':'persons_sq_km'}, inplace=True)
Pop_data

,NewYorkCitysfiveboroughsvte,Jurisdiction,Population,Landarea,Density,persons_sq_mi,persons_sq_km
0,Manhattan\n,\n New York\n,"1,664,727\n",22.83\n,59.13\n,"72,033\n","27,826\n"
1,The Bronx\n,\n Bronx\n,"1,471,160\n",42.10\n,109.04\n,"34,653\n","13,231\n"
2,Brooklyn\n,\n Kings\n,"2,648,771\n",70.82\n,183.42\n,"37,137\n","14,649\n"
3,Queens\n,\n Queens\n,"2,358,582\n",108.53\n,281.09\n,"21,460\n","8,354\n"
4,Staten Island\n,\n Richmond\n,"479,458\n",58.37\n,151.18\n,"8,112\n","3,132\n"
5,City of New York,"8,622,698",302.64,783.83,"28,188","10,947\n",NaN
6,State of New York,"19,849,399","47,214","122,284",416.4,159\n,NaN
7,Sources: [2] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
Pop_data.rename(columns = {'NewYorkCitysfiveboroughsvte\n' : 'Borough',
                   'Jurisdiction\n':'County',
                   'Population\n':'Estimate_2017', 
                   'Landarea\n':'square_miles',
                    'Density\n':'square_km'}, inplace=True)
Pop_data

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,Manhattan,New York,"1,664,727",22.83,59.13,"72,033","27,826"
1,The Bronx,Bronx,"1,471,160",42.10,109.04,"34,653","13,231"
2,Brooklyn,Kings,"2,648,771",70.82,183.42,"37,137","14,649"
3,Queens,Queens,"2,358,582",108.53,281.09,"21,460","8,354"
4,Staten Island,Richmond,"479,458",58.37,151.18,"8,112","3,132"
5,City of New York,"8,622,698",302.64,783.83,"28,188","10,947",NaN
6,State of New York,"19,849,399","47,214","122,284",416.4,159,NaN
7,Sources: [2] and see individual borough articles,NaN,NaN,NaN,NaN,NaN,NaN

#### Replace newline('\n') from each string from left and right sides

In [31]:
Pop_data['Borough']=Pop_data['Borough'].replace(to_replace='\n', value='', regex=True)
Pop_data['County']=Pop_data['County'].replace(to_replace='\n', value='', regex=True)
Pop_data['Estimate_2017']=Pop_data['Estimate_2017'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_miles']=Pop_data['square_miles'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_km']=Pop_data['square_km'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_mi']=Pop_data['persons_sq_mi'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_km']=Pop_data['persons_sq_km'].replace(to_replace='\n', value='', regex=True)
Pop_data

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,Manhattan,New York,"1,664,727",22.83,59.13,"72,033","27,826"
1,The Bronx,Bronx,"1,471,160",42.10,109.04,"34,653","13,231"
2,Brooklyn,Kings,"2,648,771",70.82,183.42,"37,137","14,649"
3,Queens,Queens,"2,358,582",108.53,281.09,"21,460","8,354"
4,Staten Island,Richmond,"479,458",58.37,151.18,"8,112","3,132"
5,City of New York,"8,622,698",302.64,783.83,"28,188","10,947",NaN
6,State of New York,"19,849,399","47,214","122,284",416.4,159,NaN
7,Sources: [2] and see individual borough articles,NaN,NaN,NaN,NaN,NaN,NaN

#### Shift data in the last two rows

In [32]:
Pop_data.loc[5:,['persons_sq_mi','persons_sq_km']] = Pop_data.loc[2:,['persons_sq_mi','persons_sq_km']].shift(1,axis=1)
Pop_data.loc[5:,['square_km','persons_sq_mi']] = Pop_data.loc[2:,['square_km','persons_sq_mi']].shift(1,axis=1)
Pop_data.loc[5:,['square_miles','square_km']] = Pop_data.loc[2:,['square_miles','square_km']].shift(1,axis=1)
Pop_data.loc[5:,['Estimate_2017','square_miles']] = Pop_data.loc[2:,['Estimate_2017','square_miles']].shift(1,axis=1)
Pop_data.loc[5:,['County','Estimate_2017']] = Pop_data.loc[2:,['County','Estimate_2017']].shift(1,axis=1)
Pop_data.loc[5:,['Borough','County']] = Pop_data.loc[2:,['Borough','County']].shift(1,axis=1)
Pop_data

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,Manhattan,New York,"1,664,727",22.83,59.13,"72,033","27,826"
1,The Bronx,Bronx,"1,471,160",42.10,109.04,"34,653","13,231"
2,Brooklyn,Kings,"2,648,771",70.82,183.42,"37,137","14,649"
3,Queens,Queens,"2,358,582",108.53,281.09,"21,460","8,354"
4,Staten Island,Richmond,"479,458",58.37,151.18,"8,112","3,132"
5,NaN,City of New York,"8,622,698",302.64,783.83,"28,188","10,947"
6,NaN,State of New York,"19,849,399","47,214","122,284",416.4,159
7,NaN,Sources: [2] and see individual borough articles,NaN,NaN,NaN,NaN,NaN

#### Remove 'NAN'

In [33]:
Pop_data = Pop_data.fillna('')
Pop_data

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,Manhattan,New York,"1,664,727",22.83,59.13,"72,033","27,826"
1,The Bronx,Bronx,"1,471,160",42.10,109.04,"34,653","13,231"
2,Brooklyn,Kings,"2,648,771",70.82,183.42,"37,137","14,649"
3,Queens,Queens,"2,358,582",108.53,281.09,"21,460","8,354"
4,Staten Island,Richmond,"479,458",58.37,151.18,"8,112","3,132"
5,,City of New York,"8,622,698",302.64,783.83,"28,188","10,947"
6,,State of New York,"19,849,399","47,214","122,284",416.4,159
7,,Sources: [2] and see individual borough articles,,,,,

#### Drop the last row

In [34]:
i = Pop_data[((Pop_data.County == 'Sources: [2] and see individual borough articles'))].index
Pop_data.drop(i)

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,Manhattan,New York,"1,664,727",22.83,59.13,"72,033","27,826"
1,The Bronx,Bronx,"1,471,160",42.10,109.04,"34,653","13,231"
2,Brooklyn,Kings,"2,648,771",70.82,183.42,"37,137","14,649"
3,Queens,Queens,"2,358,582",108.53,281.09,"21,460","8,354"
4,Staten Island,Richmond,"479,458",58.37,151.18,"8,112","3,132"
5,,City of New York,"8,622,698",302.64,783.83,"28,188","10,947"
6,,State of New York,"19,849,399","47,214","122,284",416.4,159

#### Save dataframe as csv file

In [35]:
Pop_data.to_csv('BON2_POPULATION.csv',index=False)

#### B : DEMOGRAPHICS DATA

We will web scrap Demographics data from wikipedia page - https://en.wikipedia.org/wiki/New_York_City

#### Web scrapping of Demographics data from wikipedia page using BeautifulSoup.

Beautiful Soup is a Python package for parsing HTML and XML documents (including having malformed markup, i.e. non-closed tags, so named after tag soup). It creates a parse tree for parsed pages that can be used to extract data from HTML, which is useful for web scraping.

In [36]:
website_url = requests.get('https://en.wikipedia.org/wiki/New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable collapsible'})
#print(soup.prettify())

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('NYC_DEMO.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

#### Load data from CSV

In [37]:
Demo_data=pd.read_csv('NYC_DEMO.csv')
print('Data downloaded!')

Data downloaded!

In [38]:
Demo_data

,Racial composition,2010[237],1990[239],1970[239],1940[239]
0,White,44.0%,52.3%,76.6%,93.6%\n
1,—Non-Hispanic,33.3%,43.2%,62.9%[240],92.0%\n
2,Black or African American,25.5%,28.7%,21.1%,6.1%\n
3,Hispanic or Latino (of any race),28.6%,24.4%,16.2%[240],1.6%\n
4,Asian,12.7%,7.0%,1.2%,−\n

#### Remove whitespaces and rename columns

In [39]:
Demo_data.columns

Index(['Racial composition', '2010[237]', '1990[239]', '1970[239]',
       '1940[239]\n'],
      dtype='object')

In [40]:
Demo_data.rename(columns = {'2010[237]' : '2010',
                   '1990[239]':'1990',
                   '1970[239]':'1970', 
                   '1940[239]\n':'1940',
                    }, inplace=True)
Demo_data

                 Racial composition   2010   1990        1970     1940
0                             White  44.0%  52.3%       76.6%  93.6%\n
1                     —Non-Hispanic  33.3%  43.2%  62.9%[240]  92.0%\n
2         Black or African American  25.5%  28.7%       21.1%   6.1%\n
3  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%[240]   1.6%\n
4                             Asian  12.7%   7.0%        1.2%      −\n

In [41]:
Demo_data.columns

Index(['Racial composition', '2010', '1990', '1970', '1940'], dtype='object')

In [42]:
Demo_data.columns = Demo_data.columns.str.replace(' ', '')

#### Replace newline('\n') from each string from left and right sides

In [44]:
Demo_data= Demo_data.replace('\n',' ', regex=True)
Demo_data

                  Racialcomposition   2010   1990        1970    1940
0                             White  44.0%  52.3%       76.6%  93.6%
1                     —Non-Hispanic  33.3%  43.2%  62.9%[240]  92.0%
2         Black or African American  25.5%  28.7%       21.1%   6.1%
3  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%[240]   1.6%
4                             Asian  12.7%   7.0%        1.2%      −

#### Strip '[240]' from third column - 1970

In [45]:
Demo_data['1970'] = Demo_data['1970'].str.rstrip('[240]')
Demo_data

                  Racialcomposition   2010   1990   1970    1940
0                             White  44.0%  52.3%  76.6%  93.6%
1                     —Non-Hispanic  33.3%  43.2%  62.9%  92.0%
2         Black or African American  25.5%  28.7%  21.1%   6.1%
3  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%   1.6%
4                             Asian  12.7%   7.0%   1.2%      −

#### Save dataframe as csv file

In [46]:
Demo_data.to_csv('BON2_DEMOGRAPHICS.csv',index=False)